{% extends "_base.html" %}
{% load static %}
{% block title %}Congratulations{% endblock %}
{% block javascript %}
 <script src="{% static 'javascript/final.js' %}" type="text/javascript"></script>
 {% endblock %}
{% block main %}
<link rel="stylesheet" href="{% static 'css/final.css' %}">
<body style="background-image: url('{% static 'Images/happykids.jpg' %}');/background-repeat: no-repeat;background-size: cover;">
<main class="container justify-content-center">
  <div>
  <div id="final" class="container justify-content-center d-none d-md-block" novalidate>
     <div><h1>Math Facts Practice</h1></div>
        <h3 id="op">operation placeholder</h3>
           <div id="stage">
              <p id="display">Times up!</p><br>
              <h1 id="display2">Your final score is:</h1><br>
              <p id="score">0</p><br>
              <div  class="row justify-content-center">
                 <a id="button" class="btn btn-default mb-2" href="{% url 'mathfacts:mathfacts' %}">Back to Start Screen</a>
                 <a id="button" class="btn btn-default mb-2" href="{% url 'pages:homepage' %}">Home</a>
              </div>
           </div>
         </div>
  </div>
</div>
<!--Mobile size viewport-->
<div class="img-fluid backgroundmg d-xs-block d-md-none justify-content-center">
  <div id="shape" class="container-fluid d-xs-block d-md-none mt-5 text-center">
    <div id="finalM" class="d-xs-block d-md-none">
     <form>
        <div><h3 class="mt-3">Math Facts Practice</h3></div>
           <h4 id="opM">operation placeholder</h4>
              <div id="stageM">
                 <p id="displayM" class="text-danger font-weight-bold m-0">Times up!</p><br>
                 <h3 id="display2M" class="font-weight-bold">Your final score is:</h3><br>
                 <div class="row">
                    <p id="scoreM" class="h1 text-center">0</p><br>
                 </div>
                 <div class="row justify-content-center mt-2">
                    <a id="button" class="btn btn-default mb-2" href="{% url 'mathfacts:mathfacts' %}">Back to Start Screen</a>
                    <a id="button" class="btn btn-default mb-2" href="{% url 'pages:homepage' %}">Home</a>
                 </div>
              </div>
     </form>
 </div>
 </div>
 </div>
</body>
</main>
</html>

{% endblock %}