{% extends "_base.html" %}
{% load static %}
{% block title %}Fundamental Math{% endblock %}
{% block main %}
{% block javascript %}
<script>
   function startGame() {
      const select = document.getElementById('mathOp');
      const value = select.options[select.selectedIndex].value;
      switch (value) {
          case 'addition':
          location.assign("{% url 'mathfacts:mfa' %}");
          break;
          case 'subtraction':
          location.assign("{% url 'mathfacts:mfs' %}");
          break;
          case 'multiplication':
          location.assign("{% url 'mathfacts:mfm' %}");
          break;
          case 'division':
          location.assign("{% url 'mathfacts:mfd' %}");
          break;
        }
      }
      function startGame2() {
      const select = document.getElementById('mathOp2');
      const value = select.options[select.selectedIndex].value;
      switch (value) {
          case 'addition':
          location.assign("{% url 'mathfacts:mfa' %}");
          break;
          case 'subtraction':
          location.assign("{% url 'mathfacts:mfs' %}");
          break;
          case 'multiplication':
          location.assign("{% url 'mathfacts:mfm' %}");
          break;
          case 'division':
          location.assign("{% url 'mathfacts:mfd' %}");
          break;
        }
      }
    window.addEventListener('load', function() {
      const form = document.getElementById('formMath');
      const form2 = document.getElementById('formMath2');
      form.addEventListener('submit', function() {
        event.preventDefault();
        startGame();
    });
    form2.addEventListener('submit', function() {
        event.preventDefault();
        startGame2();
    });
  });
</script>
{% endblock %}
<link rel="stylesheet" href="{% static 'css/mf.css' %}">
<body style="background-image: url('{% static 'Images/blackboard2.jpg' %}');">
<div class="mx-auto">
<main class="d-none d-lg-block">
   <form id="formMath" class="mx-auto mt-5" novalidate>
     <div id="head" class="text-center"><h2>Fundamental Math</h2></div>
        <div class="row">
           <div  id="operation" class="col-md-12">
              <label  for="mathOp">Operation</label>
              <select name="mathOp" id="mathOp">
                 <option value="0" selected="selected">--Please Choose--</option>
                 <option value="addition">Addition</option>
                 <option value="subtraction">Subtraction</option>
                 <option value="multiplication">Multiplication</option>
                 <option value="division">Division</option>
              </select>
           </div>
        </div>
         <div><button id=mathButton >Go!</button></div>
            <div class="row ml-1" id=formMath3>
               1. Select operation.<br>
               2. Press GO.<br>
               3. How many problems can you solve in 30 seconds?<br>
            </div>
   </form>
</main>
</div>
<!--Mobile size viewport-->
<div id="formMath4" class="container d-lg-none d-md-block">
  <form id="formMath2" class="mt-5 mb-3">
   <div  class="container d-lg-none d-md-block">
    <div id="head2" class="text-center mt-3"><h2>Fundamental Math</h2></div>
       <div class="row">
          <div class="text-left col-md-12">
             <label  for="mathOp2">Operation</label>
             <select name="mathOp2" id="mathOp2" >
                <option value="0" selected="selected">--Please Choose--</option>
                <option value="addition">Addition</option>
                <option value="subtraction">Subtraction</option>
                <option value="multiplication">Multiplication</option>
                <option value="division">Division</option>
             </select>
          </div>
       </div>
      <div class="row mt-3 ml-3"><button id=mathButton2>Go!</button></div>
         <div class="row ml-1 text-left font-weight-bold mt-5" >
            1. Select operation.<br>
            2. Press GO.<br>
            3. How many problems can you solve in 30 seconds?<br>
         </div>
   </div>
  </form>
  </div>
</div>
</body>
</html>
{% endblock %}