{% extends "_base.html" %}
{% load static %}
{% block title %}Addition{% endblock %}
{% block main %}
{% block javascript %}
<script>
   let num1 = (randInt(1,9));
   let num2 = (randInt(1,9));
   let solution = num1 + num2; //operator.
   let op = "Addition"; //operator
   let opM = "Addition"; //operator
   let stopClock = 0;
   let playGame = 'true';
   let keepScore = 0;
   let addScore = {};
   let addScoreM = {};
   let val2 = 0;
   let val1 = '';
   let val01 = '';
   let formVal = '';
   let i = '';
   let j = '';
   let incorrect = 0;
   const correctAnswer = new Audio(); correctAnswer.autoplay = true;

   function randInt(low, high) {
      const rndDec = Math.random();
      const rndInt = Math.floor(rndDec * (high - low + 1) + low);
      return rndInt;
   }
   function timer() {
      const timer = setInterval(timeKeep, 1000);
      if(playGame === 'false') {
         clearInterval(timer);
      }
   }
   function timeKeep() {
         if (stopClock < '30') {
            stopClock = stopClock + 1;
            let time = document.getElementById('time');
            let time2 = document.getElementById('time2');
            time.innerHTML = stopClock + ' seconds';
            time2.innerHTML = stopClock + ' seconds';
            let problem = document.getElementById('display');
            let problem2 = document.getElementById('display2');
            //operator section
            problem.innerText = num1 + " + " + num2;
            problem2.innerText = num1 + " + " + num2;
            let solution = num1 + num2;
            //
           let score = document.getElementById('score');
           let score2 = document.getElementById('score2');
           score.innerHTML = keepScore;
           score2.innerHTML = keepScore;
           document.getElementsByName('entry2')[0].placeholder = "answer"; //
           checkEntry();
         } else {
            playGame = 'false'
            endGame()
         }
     }
   function checkEntry() {
   if (entry2.value != '') {incorrect = ++incorrect}; //1
   if (entry.value != '') {incorrect = ++incorrect}; //2
   console.log("incorrect", incorrect);//
   val1 = document.getElementById("entry").value;
   val2 = document.getElementById("entry2").value;
      if(val2 == solution || formVal == solution && val2 == ''){
         entry2.value = val2;
         correctAnswer.src = '/static/audio/correct.wav';
         keepScore = keepScore + 1;
         addScore = keepScore;
         addScoreM = keepScore;
         let score = document.getElementById('score');
         let score2 = document.getElementById('score2');
         score.innerHTML = keepScore;
         score2.innerHTML = keepScore;
         incorrect = 0;//
         gamePlay();
      } else if (val2 != solution && val1 == '' ) {incorrect2(incorrect);} //3
      if(val1 == solution || formVal == solution) {
         entry.value = val1;
         correctAnswer.src = '/static/audio/correct.wav';
         keepScore = keepScore + 1;
         addScore = keepScore;
         addScoreM = keepScore;
         let score = document.getElementById('score');
         let score2 = document.getElementById('score2');
         score.innerHTML = keepScore;
         score2.innerHTML = keepScore;
         incorrect = 0;//
         gamePlay();
      } else if (val1 != solution && val1 != '' ) {incorrect1(incorrect);} //4

   }
   function incorrect2(incorrect) {  ////////////////////5
      if(val2 != solution && incorrect > 2) {
         document.getElementsByName('entry2')[0].placeholder = 'incorrect';
         entry2.value = '';
         reset();
         setTimeout( function() {document.getElementsByName('entry2')[0].placeholder = "answer";}, 1000);

      }
   }
   function incorrect1(incorrect) {  ////////////////////6
      console.log('incorrect1')
      if(val1 != solution && incorrect > 2) {
         document.getElementsByName('entry')[0].placeholder = 'incorrect';
         entry.value = '';
         reset();
         setTimeout( function() {document.getElementsByName('entry')[0].placeholder = "answer";}, 1000);

      }
   }
   function reset() {incorrect = 0;}
   function gamePlay() {
      num1 = (randInt(1,9));
      num2 = (randInt(1,9));
      solution = num1 + num2;  //operator
      problem = document.getElementById("display");
      problem2 = document.getElementById("display2");
      problem.innerText = num1 + " + " + num2;  //operator
      problem2.innerText = num1 + " + " + num2;  //operator
      document.getElementById("entry").value = ' ';
      document.getElementById("entry").focus();
      document.getElementById("entry2").value = ' ';
      document.getElementById("entry2").focus();
      val1 = '';
      val01 = '';
      formVal = '';
      entry.value = '';
      entry2.value = '';
   }
   function endGame() {
      sessionStorage.setItem("addScore", addScore);
      sessionStorage.setItem("addScoreM", addScoreM);
      sessionStorage.setItem("op", op);
      sessionStorage.setItem("op", opM);
      window.location.assign("{% url 'mathfacts:final' %}");
   }
   function unlockAudio() {
      correctAnswer.src = '/static/audio/silence.wav';
     }
   function startMusic() {
      document.getElementById("audio").play();
   }
   window.addEventListener('load', function() {
     const answer = document.getElementById('entry');
     document.getElementById('entry').focus();
     const answer2 = document.getElementById('entry2');
     document.getElementById('entry2').focus();
     let width = window.innerWidth;
     if (width > 1199) {startMusic();}
     document.addEventListener("touchmove", function() {
      unlockAudio();
      });
     document.addEventListener("keypress", function(e) {
     unlockAudio();
     if (e.keyCode === 13) {
       event.preventDefault();
       checkEntry();
     }
    });
    window.addEventListener("resize", function() {
      if (window.matchMedia("(min-width: 500px)").matches) {startMusic();}
    })
    timer();
    timeKeep();
   });
    </script>
{% endblock %}
<link rel="stylesheet" href="{% static 'css/mfa.css' %}">
<body id="page-top" class=".backgroundimg" style="background-image: url('{% static 'Images/blackboard2.jpg' %}');">
    <main class="d-none d-lg-block mb-3">
        <div id=containMath class="mt-5">
           <div id="formMath" class="container justify-content-center">
              <h2 id="math">Fundamental Math</h2>
              <h3>Addition</h3>
              <div id="scoreBlock" class="row justify-content-center mt-4">
               <label for="entry">Score:</label><p class="ml-2 mr-5 font-weight-bold" id="score" ></p>
               <label for="entry">Time:</label><p class="ml-2 mb-4" id="time" ></p>
              </div>
               <hr>
               <div class="row justify-content-center">
                  <P id="stage"></P>
                  <p id="display" class="mt-3"> Equation</p><br>
               </div>
               <div class="row justify-content-center mt-5">
                 <input id="entry" name="entry" class="text-center" placeholder="answer" type="number" pattern="[0-9]*" inputmode="numeric">
               </div>
            </div>
        </div>
     </main>
   </div>
     <!--Mobile size viewport-->
     <div id="formMath4" class="container d-lg-none d-md-block">
      <div id="formMath2" class="mt-5">
         <div class="container justify-content-center">
            <h2 id="math" class="mt-3">Fundamental Math</h2>
            <h5>Addition</h5>
            <div id="scoreBlock2" class="row justify-content-center mt-4">
             <label for="entry2">Score:</label><p class="ml-2 mr-5 font-weight-bold" id="score2" ></p>
             <label for="entry2">Time:</label><p class="ml-2 mb-4" id="time2" ></p>
            </div>
             <hr>
             <div class="row justify-content-center">
                <P id="stage2"></P>
                <p id="display2" class="mt-3"> Equation</p><br>
             </div>
             <div class="row justify-content-center mt-3">
               <input id="entry2" name="entry2" class="text-center"  placeholder="answer" type="number" pattern="[0-9]*" inputmode="numeric">
             </div>
          </div>
      </div>
   </div>
 </div>
 <figure><div class="row justify-content-center"><audio loop controls id="audio">><source src='/static/audio/game-music.wav' type="audio/mpeg" /></audio></div></figure>
</body>
<script>let audioVolume = document.getElementById("audio").volume = .4;</script>
{% endblock %}