{% extends "_base.html" %}
{% load static %}

{% block title %}About Us{% endblock %}
{% block main %}
<script>
  let i = 1;
  let m = 1;
  const quotes = new Array ();
  quotes[0] = '“My children love this website and I love how the site makes learning fun for them!” review by member – N. Morgan';
  quotes[1] = '"Anagram Hunt is a challenging and fun game, it has improved my daughters spelling." review by member – A. Bailey';
  quotes[2] = '“We love this site, its a family favorite! Keep up the good work.”  review by member – W. Grey';
  quotes[3] = '“The Math Facts Practice games have improved my sons math scores a great deal. Awesome job on the game!” review by member – V. Saint';

  function runQuotes3() {
      if (i === 1) {
      let section = document.querySelector("p");
      section.innerText = quotes[1];
      i = i + 1;
      }
      else if (i === 2) {
      let section = document.querySelector("p");
      section.innerText = quotes[2];
      i = i + 1;
      }
      else if (i === 3) {
      let section = document.querySelector("p");
      section.innerText = quotes[3];
      i = i + 1;
      }
      else if (i > 3) {
      i = 1;
      let section = document.querySelector("p");
      section.innerText = quotes[0];
      }
  }
  function runQuotes2() {
    if (m === 1) {
    let sectionM = document.querySelector(".quotesectionSmall");
    sectionM.innerText = quotes[1];
    m = m + 1;
     }
    else if (m === 2) {
    let sectionM = document.querySelector(".quotesectionSmall");
    sectionM.innerText = quotes[2];
    m = m + 1;
     }
     else if (m === 3) {
    let sectionM = document.querySelector(".quotesectionSmall");
    sectionM.innerText = quotes[3];
    m = m + 1;
     }
     else if (m > 3) {
    m = 1;
    let sectionM = document.querySelector(".quotesectionSmall");
    sectionM.innerText = quotes[0];
     }
}
window.onload = function runQuotesau() {
    let sectionM = document.querySelector(".quotesectionSmall");
    sectionM.innerText = quotes[0];
    setInterval(runQuotes2, 10000);
    let section = document.querySelector("p");
    section.innerText = quotes[0];
    setInterval(runQuotes3, 10000);
}
</script>
<link rel="stylesheet" href="{% static 'css/about_us.css' %}">
<main>
  <div id="quote" class="mt-1 d-none d-md-block center">
    <h5>How do our customers feel about us?</h5>
    <p id="quotesection">Quote Section</p>
  </div>
  <div class="d-none d-md-block center"><img id="image" src="{% static 'Images/developer-team.jpg' %}"></div>
  <div id="backgroundUs">
    <div id="containerUs" class="d-none d-md-block">
     <div id="about-us" class="d-none d-md-block">
        <p class="d-sm-none d-md-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.
        </p>
      </div>
    </div>
<!--Mobile-->
<div id="quoteSmall" class="d-sm-block d-md-none">
  <h5>How do our customers feel about us?</h5>
  <p id="quotesectionSmall" class="quotesectionSmall mt-3">Quote Section</p>
</div>
    <div id="cUsM" class="d-sm-block d-md-none">
      <div id="imagespace2" class="img-thumbnail d-sm-block d-md-none center"><img src="{% static 'Images/developer-team.jpg' %}" class="img-thumbnail d-sm-block d-md-none"></div>
      <div id="about-usM" class="container d-sm-block d-md-none">
        <p class="container-fluid d-sm-block d-md-none mt-3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
        </p>
      </div>
    </div>
  </div>
  </div>
</main>
</body>

{% endblock %}