{% extends "_base.html" %}
{% load static %}

{% block title %}About Us{% endblock %}
{% block main %}
<script>
  let i = 1;
  let m = 1;
  const quotes = new Array ();
  quotes[0] = '“My children love this website and I love how the site makes learning fun for them!” review by member – N. Morgan';
  quotes[1] = '"Anagram Hunt is a challenging game, it has improved my daughters spelling." review by member – A. Bailey';
  quotes[2] = '“We love this site, its a family favorite! Keep up the good work.”  review by member – W. Grey';
  quotes[3] = '“The Math Facts Practice games have improved my sons math scores, awesome job!” review by member – V. Saint';

  function runQuotes3() {
      if (i === 1) {
      let section = document.querySelector("p");
      section.innerText = quotes[1];
      i = i + 1;
      }
      else if (i === 2) {
      let section = document.querySelector("p");
      section.innerText = quotes[2];
      i = i + 1;
      }
      else if (i === 3) {
      let section = document.querySelector("p");
      section.innerText = quotes[3];
      i = i + 1;
      }
      else if (i > 3) {
      i = 1;
      let section = document.querySelector("p");
      section.innerText = quotes[0];
      }
  }
  function runQuotes2() {
    if (m === 1) {
    let sectionM = document.querySelector(".quotesectionSmall");
    sectionM.innerText = quotes[1];
    m = m + 1;
     }
    else if (m === 2) {
    let sectionM = document.querySelector(".quotesectionSmall");
    sectionM.innerText = quotes[2];
    m = m + 1;
     }
     else if (m === 3) {
    let sectionM = document.querySelector(".quotesectionSmall");
    sectionM.innerText = quotes[3];
    m = m + 1;
     }
     else if (m > 3) {
    m = 1;
    let sectionM = document.querySelector(".quotesectionSmall");
    sectionM.innerText = quotes[0];
     }
}
window.onload = function runQuotesau() {
    let sectionM = document.querySelector(".quotesectionSmall");
    sectionM.innerText = quotes[0];
    setInterval(runQuotes2, 5000);
    let section = document.querySelector("p");
    section.innerText = quotes[0];
    setInterval(runQuotes3, 5000);
}
</script>
<link rel="stylesheet" href="{% static 'css/about_us.css' %}">
<!--<main class="d-none d-md-block" id="imageTest" style="background-image: url('{% static 'Images/developer_team.jpg' %}');">-->
<main class="d-none d-md-block" id="imageTest" style="background-image: url('{% static 'Images/rs1.JPG' %}');">
  <div id="quote" class="mt-1 d-none d-md-block center">
    <h5>How do our customers feel about us?</h5>
    <p id="quotesection">Quote Section</p>
  </div>
  <div>
  <div id="backgroundUs" class="container-fluid d-none d-lg-block">
    <div id="containerUs" class="row">
     <div id="about-us" class="container-fluid d-none d-lg-block">
      <h3>About Us</h3>
        <p class="container-fluid d-sm-none d-md-block mt-3">
          This site was originally developed as apart of a academic project.
          The site is currently used for testing ideas, experimenting and general practice.
          This site was not designed to be used in any capacity beyond academic endeavor.
          I hope you enjoy the site and please feel free to play the games as much as you like.<br>
          <br>
          -Robby
        </p>
      </div>
    </div>
</main>

  <div id="backgroundUs2" class="d-none d-md-block d-lg-none">
    <div id="containerUs" class="row">
     <div id="about-us">
      <h3>About Us</h3>
        <p>
          This site was originally developed as apart of a academic project.
          The site is currently used for testing ideas, experimenting and general practice.
          This site was not designed to be used in any capacity beyond academic endeavor.
          I hope you enjoy the site and please feel free to play the games as much as you like.<br>
          <br>
          -Robby
        </p>
      </div>
    </div>
  </div>

<!--Mobile-->
<div id="quoteSmall" class="d-sm-block d-md-none mt-3">
  <h5>How do our customers feel about us?</h5>
  <p id="quotesectionSmall" class="quotesectionSmall mt-1">Quote Section</p>
</div>
    <div id="cUsM" class="d-sm-block d-md-none">
      <!--<div  class="d-sm-block d-md-none center mb-3"><img id="imagespace2" src="{% static 'Images/developer_team.jpg' %}" class="img-thumbnail d-sm-block d-md-none"></div>-->
      <div  class="d-sm-block d-md-none center mb-3"><img id="imagespace2" src="{% static 'Images/rs1.JPG' %}" class="img-thumbnail d-sm-block d-md-none"></div>
      <div id="about-usM" class="container d-sm-block d-md-none">
        <h4>About Us</h4>
        <p class="container-fluid d-sm-block d-md-none mt-1">
          This site was not designed to be used in any capacity beyond academic endeavor.
          I hope you enjoy the site and please feel free to play the games as much as you like.<br>
          <br>
          -Robby
        </p>
      </div>
    </div>
  </div>
  </div>
</body>

{% endblock %}