{% extends "_base.html" %}
{% load static %}
{% block title %}development{% endblock %}
{% block main %}
<script>
</script>
<style>
  body {
    font-family: 'Oswald', sans-serif !important;
  }
  #background {
    background: rgba(232, 232, 232, 0.65);
    text-align: center;
    width: auto;
    min-width: 15rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-size: large;
    overflow-x: hidden !important;
    margin-top: 8rem;
  }
  #backgroundXL {
    background: rgba(232, 232, 232, 0.65);
    text-align: center;
    width: auto;
    min-width: 15rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-size: large;
    overflow-x: hidden !important;
    top: 150px;
  }
    #smallScreen1 {
      background: rgba(232, 232, 232, 0.65);
      background-position: center;
      text-align:left;
      width: 100%;
      height: 4.5rem;
      position: relative;
      box-sizing: border-box;
      font-size: small;
      clear: both;
      margin-bottom: .25rem;
      display: flex;
     justify-content: center;
    }
    #smallScreen2 {
      background: rgba(232, 232, 232, 0.65);
      background-position: center;
      text-align: left;
      width: 100%;
      height: 4.5rem;
      position: relative;
      box-sizing: border-box;
      font-size: small;
      clear: both;
      margin-bottom: .25rem;
      display: flex;
     justify-content: center;
    }
  .img-thumbnail {
    max-width: 100%;
    height: 13rem;
    width: 100%;
    vertical-align: middle;
}
  #cUsM {
      width: 100%;
      display: block;
      box-sizing: border-box;
      margin-top: 0.25rem;
      text-align: center;
   }
   blockquote{
    display: inline-block;
 }
</style>
<body>
<main class="d-none d-md-block" id="backgroundimage" style="background-image: url('{% static 'Images/stairs3.jpg' %}');">
  <div id="quote" class="mt-3">
    <p id="quotesection">Development Environment</p>
  </div>
    <div id="background" class="container d-none d-md-block d-xl-none">
      <div id="container1" class="row">
        <div class="container col-md-6 border-right border-dark d-none d-md-block d-xl-none">
          <div class="row justify-content-center"><h3>Random Ace&#9824;</h3><p class="ml-2 font-italic">beta</p></div>
          <p class="d-none d-md-block d-xl-none">
            Choose a digit between 1 and 6 and press Roll!<br>
            3 digits will be randomly selected, each match your<br>
            chosen digit achieves will result in a pot increase of<br>
            the match value amount. If your chosen digit is 1<br>
            the equivalent of that is the ace. If you match with<br>
            the ace your pot will increase by 10. Conversely, if<br>
            you fail to match with one of the 3 randomly selected<br>
            digits your pot will decrease by 5. If the ace is randomly<br>
            selected and you fail to match with it your pot will<br>
            decrease by 5. You have a 1/5 chance of matching with<br>
            each of the 3 random digits. You will have 60 seconds,<br>
            to win simply stay in the black and out of the red.<br>
            Good Luck!
          </p>
          <a class="button-link mt-2" href="{% url 'pages:random_ace' %}">Play Now!</a>
        </div>
        <div id="container2" class="container col-md-6 border-start d-none d-md-block d-xl-none">
          <div class="row justify-content-center"><h3>Who am I?</h3><p class="ml-2 font-italic">beta</p></div>
          <p id="mf" class="d-none d-md-block d-xl-none">
            Lorem ipsum dolor sit amet. Eos laudantium quidem<br>
            Non molestiae repudiandae et enim alias ut cumque<br>
            Et aliquam neque non veniam libero et beatae architecto<br>
            nulla expedita! Aut voluptatem repellat et nihil odio<br>
            Qui deleniti enim qui asperiores sunt eum deserunt<br>
            Eum accusantium illo et atque sequi et commodi<br>
            Ut omnis ratione et amet voluptate sed quos autem<br>
            A ipsam molestiae et nulla voluptatum ut consequatur<br>
            Lorem ipsum dolor sit amet. Eos laudantium quidem<br>
            Non molestiae repudiandae et enim alias ut cumque<br>
            Et aliquam neque non veniam libero et beatae architecto<br>
            nulla expedita! Aut voluptatem repellat et nihil odio<br>
            Good Luck!
          </p>
          <a class="button-link mt-2" href=>Play Now!</a>
        </div>
        <!--<div id="container3" class="container col-md-4 border-start d-none d-md-block d-xl-none">
          <h3>US Capitals</h3>
          <p id="mf" class="container d-none d-md-block d-xl-none">
            You are given a randomly selected state, you'll have 10 seconds to correclty choose that states
              capital city from a bank of state capitals. If you select the right capital you will be awarded one point.
              If you select the wrong capital or do not make a selection before time is called you will be given the answer
              but no points are awarded. If you score 90 percent or better you are ready to test. Practice your US geographical knowledge, this tool can help!
          </p>
          <a class="button-link mt-2" href="{% url 'uscapitals:uscaps' %}">Play Now!</a>
        </div>-->
      </div>
    </div>
    <!--XL-->
    <div id="backgroundXL" class="container col-md-8 d-none d-xl-block">
      <div id="container1" class="row">
        <div class="container col-md-6 border-right border-dark d-none d-xl-block">
          <div class="row justify-content-center"><h3>Random Ace&#9824;</h3><p class="ml-2 font-italic">beta</p></div>
          <p class="d-none d-lg-block text-left">
            1. Choose a digit between 1 and 6 and press Roll, 3 digits will be randomly selected.<br>
            2. Each match your chosen digit achieves will result in a pot increase of the match value amount.<br>
            3. If your chosen digit is 1 the randomly selected equivalent of that is the ace.<br>
            4. If you match with the ace your pot will increase by 10.<br>
            5. If you fail to match with one of the 3 randomly selected digits your pot will decrease by 5.<br>
            6. If the ace is randomly selected and you fail to match with it your pot will decrease by 5.<br>
            7. You have a 1/5 chance of matching with each of the 3 random digits.<br>
            8. You will have 60 seconds, to win simply stay in the black and out of the red.<br>
            Good Luck!<br>
          </p>
          <a class="button-link mt-2" href="{% url 'pages:random_ace' %}">Play Now!</a>
        </div>
        <div id="container2" class="col-md-6 border-right border-dark d-none d-xl-block">
          <div class="row justify-content-center"><h3>Who am I?</h3><p class="ml-2 font-italic">beta</p></div>
          <p id="mf" class="d-none d-lg-block text-left">
            Lorem ipsum dolor sit amet. Eos laudantium quidem non temporibus dolores.<br>
            Non molestiae repudiandae et enim alias ut cumque accusamus Ut perferendis ipsum aut quidem.<br>
            Et aliquam neque non veniam libero et beatae architecto aut nostrum quos aut.<br>
            nulla expedita! Aut voluptatem repellat et nihil odio et molestiae velit.<br>
            Qui deleniti enim qui asperiores sunt eum deserunt quibusdam qui voluptas consectetur aut rerum.<br>
            Eum accusantium illo et atque sequi et commodi molestias ea accusamus fuga est temporibus totam.<br>
            Ut omnis ratione et amet voluptate sed quos autem sed dolores repellendus.<br>
            A ipsam molestiae et nulla voluptatum ut consequatur voluptas in repellat harum vel deleniti.<br>
            Good Luck!<br>
          </p>
          <a class="button-link mt-2" href=>Play Now!</a>
        </div>
        <!--<div id="container3" class="container col-md-4 d-none d-xl-block">
          <h3>US Capitals</h3>
            <p class=" d-none d-lg-block">
              You are given a randomly selected state, you'll have 10 seconds to correclty choose that states
              capital city from a bank of state capitals. If you select the right capital you will be awarded one point.
              If you select the wrong capital or do not make a selection before time is called you will be given the answer
              but no points are awarded. If you score 90 percent or better you are ready to test. Practice your US geographical knowledge, this tool can help!
            </p>
            <a class="button-link mt-2" href="{% url 'uscapitals:uscaps' %}">Play Now!</a>
        </div>-->
      </div>
    </div>
  </main>
  <!--Mobile-->
  <div id="quoteSmall" class="d-sm-block d-md-none mt-1">
    <p id="quotesectionSmall" class="quotesectionSmall">Development Environment</p>
  </div>
    <div id="mobileImage2"><img src="{% static 'Images/stairs2.jpg' %}"class="img-thumbnail d-sm-block d-md-none">
      <div id="cUsM" class="d-sm-block d-md-none">
        <div id="smallScreen1" class="container">
          <div class="row justify-content-center ml-1"><h3 class="mt-3">Random Ace</h3><p class="ml-2 font-italic">beta</p></div>
            <a class="row button-link2 font-weight-bold" href="{% url 'pages:random_ace' %}">Play Now!</a>
        </div>
        <div id="smallScreen2" class="container">
          <div class="row justify-content-center ml-1"><h3 class="mt-3">Who am I?</h3><p class="ml-2 font-italic">beta</p></div>
            <a class="row button-link2 font-weight-bold" href=>Play Now!</a>
        </div>
      <!--<div id="smallScreen3" class="container">
        <h3 class="mt-3">US Capitals</h3>
          <a class="row button-link2 font-weight-bold" href="{% url 'uscapitals:uscaps' %}">Play Now!</a>
      </div>-->
    </div>
  </div>
</body>

{% endblock %}