{% extends "_base.html" %}
{% load static %}
{% block title %}Development{% endblock %}
{% block main %}
<script>

  window.addEventListener('load', function() {
    let section = document.querySelector("p");
    let sectionM = document.querySelector(".quotesectionSmall");
    setTimeout(function() {section.innerText = "Open Sesame!";sectionM.innerText = "Open Sesame!";}, 500);
    setTimeout(function() {section.innerText = "Development Environment";sectionM.innerText = "Development Environment";}, 3500);
});
</script>
<style>
  body {font-family: 'Oswald', sans-serif !important;}
  .img-thumbnail {max-width: 100%;height: 13rem;width: 100%;max-height: 100%}
  blockquote{display: inline-block;}
  #quotesection {margin: 0;}
  #background {
    background: rgba(232, 232, 232, 0.65);
    text-align: center;
    width: auto;
    min-width: 15rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-size: large;
    overflow-x: hidden !important;
    margin-top: 3rem;
    top: 0px;
  }
  #backgroundXL {
    background: rgba(232, 232, 232, 0.65);
    text-align: center;
    width: auto;
    min-width: 15rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-size: large;
    overflow-x: hidden !important;
    margin-top: 3rem;
    top: 0px;
    min-width: 60rem;
  }
    #smallScreen1 {
      background: rgba(232, 232, 232, 0.65);
      background-position: center;
      text-align:left;
      width: 100%;
      height: 4.5rem;
      position: relative;
      box-sizing: border-box;
      font-size: small;
      clear: both;
      display: flex;
     justify-content: center;
    }
    #smallScreen2 {
      background: rgba(232, 232, 232, 0.65);
      background-position: center;
      text-align: left;
      width: 100%;
      height: 4.5rem;
      position: relative;
      box-sizing: border-box;
      font-size: small;
      clear: both;
      display: flex;
     justify-content: center;
    }
  #cUsM {
      width: 100%;
      display: block;
      box-sizing: border-box;
      margin-top: 0.25rem;
      text-align: center;
   }
</style>
<body>
<main class="d-none d-md-block" id="backgroundimage" style="background-image: url('{% static 'Images/stairs3.jpg' %}');">
  <div id="quote" class="mt-3">
    <p id="quotesection">Development Environment</p>
  </div>
    <div id="background" class="container d-none d-md-block d-xl-none">
      <div id="container1" class="row">
        <div class="container col-md-4 d-none d-md-block d-xl-none">
          <div class="row justify-content-center"><h3>Final Tally</h3><p class="ml-2 font-italic">beta</p></div>
          <p class="d-none d-md-block d-xl-none text-left mt-3">
            1.  Can you guess the total of 3 random dice rolls?<br>
            2.  Press Play!, enter your guess and press Roll!<br>
            3.  Three 6 sided dice will be rolled.<br>
            4.  Each new die roll will be summed with the last roll.<br>
            5.  Guess within 3 you will be awarded 4 points.<br>
            6.  Guess within 2 you will be awarded 6 points.<br>
            7.  Guess within 1 you will be awarded 8 points.<br>
            8.  Guess the exact sum and win instantly!<br>
            9.  Accumulate 10 points, within 3 rounds and win!<br>
            10. Try your luck with this game of chance.<br>
            <p class="text-left">Good Luck!</p><br>
          </p>
          <a class="button-link mt-2" href="{% url 'pages:random_ace' %}">Play Now!</a>
        </div>
        <div id="container2" class="container col-md-4 border-left border-dark d-none d-md-block d-xl-none">
          <div class="row justify-content-center"><h3>Who am I&#63;</h3><p class="ml-2 font-italic">beta</p></div>
          <p id="mf" class="d-none d-md-block d-xl-none text-left mt-3">
            1.  Do you want to know who I am?<br>
	          2.  Hit the play now button.<br>
	          3.  I will give you 4 choices.<br>
	          4.  I will give you 3 clues.<br>
	          5.  After your 3rd clue you will have 10 seconds.<br>
	          6.  If you guess right, I will make an appearance.<br>
	          7.  If you guess right, I will award you a point.<br>
	          8.  If you guess wrong, no point, no appearance.<br>
	          9.  Can you guess who I am?<br>
	          10. To win score 80% or better<br>
            <p class="text-left">Good Luck!</p><br>
          </p>
          <a class="button-link mt-2" href="{% url 'pages:who_am_I' %}">Play Now!</a>
        </div>
        <div id="container3" class="container col-md-4 border-left border-dark d-none d-md-block d-xl-none">
          <h3>Random Ace&#9824;</h3>
          <p id="mf" class="container d-none d-md-block d-xl-none">
            1. Choose a digit between 1-6 and press Roll.
            2. 3 digits will be randomly selected.
            3. Each match is awarded by the matched value.
            4. Select digit 1 to try and match the ace.
            5. Fail to match at all, your pot decreases by 5.
            6. Match the ace and your pot increases by 10!
            7. Fail to match the ace and your pot decreases by 5.
            8. There's a 1 in 5 chance of matching with each roll.
            9. You'll get 60 seconds.
            10. To win simply stay in the black.
            <p class="text-left">Good Luck!</p><br>
          </p>
          <a class="button-link mt-2" href="{% url 'pages:random_ace' %}">Play Now!</a>
        </div>
      </div>
    </div>
    <!--XL-->
    <div id="backgroundXL" class="container col-md-10 d-none d-xl-block">
      <div id="container1" class="row">
        <div class="container col-md-4 d-none d-xl-block">
          <div class="row justify-content-center"><h3>Final Tally</h3><p class="ml-2 font-italic">beta</p></div>
          <p class="d-none d-lg-block text-left mt-3">
            1.  Can you guess the total of 3 random dice rolls?<br>
            2.  Press Play!, enter your guess and press Roll!<br>
            3.  Three 6 sided dice will be rolled.<br>
            4.  Each new die roll will be summed with the last roll.<br>
            5.  Guess within 3 you will be awarded 4 points.<br>
            6.  Guess within 2 you will be awarded 6 points.<br>
            7.  Guess within 1 you will be awarded 8 points.<br>
            8.  Guess the exact sum and win instantly!<br>
            9.  Accumulate 10 points, within 3 rounds and win!<br>
            10. Try your luck with this game of chance.<br>
            <p class="text-left">Good Luck!</p><br>
          </p>
          <a class="button-link mt-2" href="{% url 'pages:final_tally' %}">Play Now!</a>
        </div>
        <div id="container2" class="col-md-4 border-left border-dark d-none d-xl-block">
          <div class="row justify-content-center"><h3>Who am I&#63;</h3><p class="ml-2 font-italic">beta</p></div>
          <p id="mf" class="d-none d-lg-block text-left mt-3">
            1.  Do you want to know who I am?<br>
	          2.  Hit the play now button.<br>
	          3.  I will give you 4 choices.<br>
	          4.  I will give you 3 clues.<br>
	          5.  After your 3rd clue you will have 10 seconds.<br>
	          6.  If you guess right, I will make an appearance.<br>
	          7.  If you guess right, I will award you a point.<br>
	          8.  If you guess wrong, no point, no appearance.<br>
	          9.  Can you guess who I am?<br>
	          10. To win score 80% or better<br>
            <p class="text-left">Good Luck!</p><br>
          </p>
          <a class="button-link mt-2" href="{% url 'pages:who_am_I' %}">Play Now!</a>
        </div>
        <div id="container3" class="container col-md-4 d-none d-xl-block">
          <h3>Random Ace&#9824;</h3>
            <p class="border-left border-dark d-none d-lg-block text-left mt-3">
              1. Choose a digit between 1-6 and press Roll.<br>
              2. 3 digits will be randomly selected.<br>
              3. Each match is awarded by the matched value.<br>
              4. Select digit 1 to try and match the ace.<br>
              5. Fail to match at all, your pot decreases by 5.<br>
              6. Match the ace and your pot increases by 10!<br>
              7. Fail to match the ace and your pot decreases by 5.<br>
              8. There's a 1 in 5 chance of matching with each roll.<br>
              9. You'll get 60 seconds.<br>
              10. To win simply stay in the black.<br>
              <p class="text-left">Good Luck!</p><br>
            </p>
            <a class="button-link mt-2" href="{% url 'pages:random_ace' %}">Play Now!</a>
            </p>

        </div>
      </div>
    </div>
  </main>
  <!--Mobile-->
  <div id="quoteSmall" class="d-sm-block d-md-none mt-1">
    <p id="quotesectionSmall" class="quotesectionSmall">Development Environment</p>
  </div>
    <div id="mobileImage2"><img src="{% static 'Images/stairs2.jpg' %}"class="img-thumbnail d-sm-block d-md-none mb-1">
      <div id="cUsM" class="d-sm-block d-md-none">
        <div id="smallScreen1" class="container mb-2">
          <div class="row justify-content-center ml-1"><h3 class="mt-3">Final Tally</h3><p class="ml-2 font-italic">beta</p></div>
            <a class="row button-link2 font-weight-bold" href="{% url 'pages:final_tally' %}">Play Now!</a>
        </div>
        <div id="smallScreen2" class="container">
          <div class="row justify-content-center ml-1"><h3 class="mt-3">Who am I?</h3><p class="ml-2 font-italic">beta</p></div>
            <a class="row button-link2 font-weight-bold" href="{% url 'pages:who_am_I' %}">Play Now!</a>
        </div>
        <div id="smallScreen3" class="container">
        <h3 class="mt-3">Random Ace&#9824;</h3>
          <a class="row button-link2 font-weight-bold" href="{% url 'pages:random_ace' %}">Play Now!</a>
      </div>
    </div>
  </div>
</body>

{% endblock %}