{% extends "_base.html" %}
{% load static %}
{% block title %}Final Tally{% endblock %}
{% block main %}

<script>
   let val1 = 0, val2 = 0;
   let round = 1, round2 = 1;
   let random1 = 0, random2 = 0, random3 = 0;
   let random1M = 0, random2M = 0, random3M = 0;
   let sumRandom1 = 0, sumRandom2 = 0, sumRandom3 = 0;
   let keepScore = 0, keepScore2 = 0;
   let addScore = {}, addScore2 = {};
   let sumRandomArray = [];
   let buttonFlag = 'n', buttonFlag2 = 'n';
   let stopGame = 0;
   let ace = 0;
   let playGame = 'y';

   //let stopClock = 60;
   //let stopClock2 = 10;
   //let flag = 'n';

   let img = new Image();img.src="/static/Images/Question_mark_(black).svg.png"
   let img2 = new Image();img2.src="/static/Images/Question_mark_(black).svg.png";
   let img3 = new Image();img3.src="/static/Images/Question_mark_(black).svg.png";
   let ace1 = new Image();ace1.src="/static/Images/ace3.png";
   let ace2 = new Image();ace2.src="/static/Images/ace3.png";
   let ace3 = new Image();ace3.src="/static/Images/ace3.png";
   let imgM = new Image();imgM.src="/static/Images/Question_mark_(black).svg.png"
   let img2M = new Image();img2M.src="/static/Images/Question_mark_(black).svg.png";
   let img3M = new Image();img3M.src="/static/Images/Question_mark_(black).svg.png";
   let ace1M = new Image();ace1M.src="/static/Images/ace3.png";
   let ace2M = new Image();ace2M.src="/static/Images/ace3.png";
   let ace3M = new Image();ace3M.src="/static/Images/ace3.png";
   let die1 = new Image();die1.src="/static/Images/die1.jpg";
   let die2 = new Image();die2.src="/static/Images/die2.jpg";
   let die3 = new Image();die3.src="/static/Images/die3.jpg";
   let die4 = new Image();die4.src="/static/Images/die4.jpg";
   let die5 = new Image();die5.src="/static/Images/die5.jpg";
   let die6 = new Image();die6.src="/static/Images/die6.jpg";

   let die12 = new Image();die12.src="/static/Images/die1.jpg";
   let die22 = new Image();die22.src="/static/Images/die2.jpg";
   let die32 = new Image();die32.src="/static/Images/die3.jpg";
   let die42 = new Image();die42.src="/static/Images/die4.jpg";
   let die52 = new Image();die52.src="/static/Images/die5.jpg";
   let die62 = new Image();die62.src="/static/Images/die6.jpg";

   let die13 = new Image();die13.src="/static/Images/die1.jpg";
   let die23 = new Image();die23.src="/static/Images/die2.jpg";
   let die33 = new Image();die33.src="/static/Images/die3.jpg";
   let die43 = new Image();die43.src="/static/Images/die4.jpg";
   let die53 = new Image();die53.src="/static/Images/die5.jpg";
   let die63 = new Image();die63.src="/static/Images/die6.jpg";

   const rightAnswer = new Audio(); rightAnswer.autoplay = true; rightAnswer.preload = "auto";
   const wrongAnswer = new Audio(); wrongAnswer.autoplay = true; wrongAnswer.preload = "auto";
   const sad = new Audio(); sad.autoplay = true; sad.preload = "auto";
   const youWon = new Audio(); youWon.autoplay = true; youWon.preload = "auto";
   const digit = new Audio(); digit.autoplay = true; digit.preload = "auto";
   const gameOver = new Audio(); gameOver.autoplay = true; gameOver.preload = "auto";


   function endGame() {
      sumRandomArray = [];
      addScore = keepScore;
      sessionStorage.setItem("addScore", addScore);
      addScore2 = keepScore2;
      sessionStorage.setItem("addScore2", addScore2);
      if (keepScore >=10 || keepScore2 >=10) {location.assign("{% url 'pages:final_tally_up' %}");} else if (keepScore < 10 || keepScore2 < 10) {location.assign("{% url 'pages:final_tally_down' %}");}
   }

   function randInt(low, high) {
      const rndDec = Math.random();
      const rndInt = Math.floor(rndDec * (high - low + 1) + low);
      return rndInt;
   }

   function getDice() {
      random1 = randInt(1, 6)
      sumRandom1 = random1
      if (random1 == 1) {document.getElementById('rand1').innerHTML = null;random1 = document.getElementById("rand1");random1.appendChild(die1);};
      if (random1 == 2) {document.getElementById('rand1').innerHTML = null;random1 = document.getElementById("rand1");random1.appendChild(die2);};
      if (random1 == 3) {document.getElementById('rand1').innerHTML = null;random1 = document.getElementById("rand1");random1.appendChild(die3);};
      if (random1 == 4) {document.getElementById('rand1').innerHTML = null;random1 = document.getElementById("rand1");random1.appendChild(die4);};
      if (random1 == 5) {document.getElementById('rand1').innerHTML = null;random1 = document.getElementById("rand1");random1.appendChild(die5);};
      if (random1 == 6) {document.getElementById('rand1').innerHTML = null;random1 = document.getElementById("rand1");random1.appendChild(die6);};
   }
   function getDiceM() {
      random1M = randInt(1, 6)
      sumRandom1M = random1M
      if (random1M == 1) {document.getElementById('rand1M').innerHTML = null;random1M = document.getElementById("rand1M");random1M.appendChild(die1);};
      if (random1M == 2) {document.getElementById('rand1M').innerHTML = null;random1M = document.getElementById("rand1M");random1M.appendChild(die2);};
      if (random1M == 3) {document.getElementById('rand1M').innerHTML = null;random1M = document.getElementById("rand1M");random1M.appendChild(die3);};
      if (random1M == 4) {document.getElementById('rand1M').innerHTML = null;random1M = document.getElementById("rand1M");random1M.appendChild(die4);};
      if (random1M == 5) {document.getElementById('rand1M').innerHTML = null;random1M = document.getElementById("rand1M");random1M.appendChild(die5);};
      if (random1M == 6) {document.getElementById('rand1M').innerHTML = null;random1M = document.getElementById("rand1M");random1M.appendChild(die6);};
   }
   function getDice2() {
      random2 = randInt(1, 6)
      sumRandom2 = random2
      if (random2 == 1) {document.getElementById('rand2').innerHTML = null;random2 = document.getElementById("rand2");random2.appendChild(die12);};
      if (random2 == 2) {document.getElementById('rand2').innerHTML = null;random2 = document.getElementById("rand2");random2.appendChild(die22);};
      if (random2 == 3) {document.getElementById('rand2').innerHTML = null;random2 = document.getElementById("rand2");random2.appendChild(die32);};
      if (random2 == 4) {document.getElementById('rand2').innerHTML = null;random2 = document.getElementById("rand2");random2.appendChild(die42);};
      if (random2 == 5) {document.getElementById('rand2').innerHTML = null;random2 = document.getElementById("rand2");random2.appendChild(die52);};
      if (random2 == 6) {document.getElementById('rand2').innerHTML = null;random2 = document.getElementById("rand2");random2.appendChild(die62);};
   }
   function getDice2M() {
      random2M = randInt(1, 6)
      sumRandom2M = random2M
      if (random2M == 1) {document.getElementById('rand2M').innerHTML = null;random2M = document.getElementById("rand2M");random2M.appendChild(die12);};
      if (random2M == 2) {document.getElementById('rand2M').innerHTML = null;random2M = document.getElementById("rand2M");random2M.appendChild(die22);};
      if (random2M == 3) {document.getElementById('rand2M').innerHTML = null;random2M = document.getElementById("rand2M");random2M.appendChild(die32);};
      if (random2M == 4) {document.getElementById('rand2M').innerHTML = null;random2M = document.getElementById("rand2M");random2M.appendChild(die42);};
      if (random2M == 5) {document.getElementById('rand2M').innerHTML = null;random2M = document.getElementById("rand2M");random2M.appendChild(die52);};
      if (random2M == 6) {document.getElementById('rand2M').innerHTML = null;random2M = document.getElementById("rand2M");random2M.appendChild(die62);};
   }
   function getDice3() {
      random3 = randInt(1, 6);
      sumRandom3 = random3
      if (random3 == 1) {document.getElementById('rand3').innerHTML = null;random3 = document.getElementById("rand3");random3.appendChild(die13);};
      if (random3 == 2) {document.getElementById('rand3').innerHTML = null;random3 = document.getElementById("rand3");random3.appendChild(die23);};
      if (random3 == 3) {document.getElementById('rand3').innerHTML = null;random3 = document.getElementById("rand3");random3.appendChild(die33);};
      if (random3 == 4) {document.getElementById('rand3').innerHTML = null;random3 = document.getElementById("rand3");random3.appendChild(die43);};
      if (random3 == 5) {document.getElementById('rand3').innerHTML = null;random3 = document.getElementById("rand3");random3.appendChild(die53);};
      if (random3 == 6) {document.getElementById('rand3').innerHTML = null;random3 = document.getElementById("rand3");random3.appendChild(die63);};
   }
   function getDice3M() {
      random3M = randInt(1, 6);
      sumRandom3M = random3M
      if (random3M == 1) {document.getElementById('rand3M').innerHTML = null;random3M = document.getElementById("rand3M");random3M.appendChild(die13);};
      if (random3M == 2) {document.getElementById('rand3M').innerHTML = null;random3M = document.getElementById("rand3M");random3M.appendChild(die23);};
      if (random3M == 3) {document.getElementById('rand3M').innerHTML = null;random3M = document.getElementById("rand3M");random3M.appendChild(die33);};
      if (random3M == 4) {document.getElementById('rand3M').innerHTML = null;random3M = document.getElementById("rand3M");random3M.appendChild(die43);};
      if (random3M == 5) {document.getElementById('rand3M').innerHTML = null;random3M = document.getElementById("rand3M");random3M.appendChild(die53);};
      if (random3M == 6) {document.getElementById('rand3M').innerHTML = null;random3M = document.getElementById("rand3M");random3M.appendChild(die63);};
   }

   function checkEntry() {
      getGuess();
      if (val1 < 3 || val1 > 18) {
         document.getElementById('button').disabled = true;
         document.getElementById('gameStats').style.color = "#ff0000";
         document.getElementById('gameStats').innerHTML = "Entry must be between values 3 and 18.";
         document.getElementById("guess1").value = null;
         setTimeout(function(){
            document.getElementById('gameStats').innerHTML = " ";
            document.getElementById('gameStats').style.color = "black";
            document.getElementById('button').disabled = false;
            document.getElementById('guess1').disabled = false;
            document.getElementById("guess1").focus();
         }, 2000);
      } else {
        buttonFlag = 'y'
        getGuess();
        document.getElementById('guess1').disabled = true;
        document.getElementById('button').disabled = true;
        setTimeout(function(){getDice();digit.src = '/static/audio/digit.wav';document.getElementById('sum').innerHTML = sumRandom1;}, 1000);
        setTimeout(function(){getDice2();digit.src = '/static/audio/digit.wav';roll2 = sumRandom1 + sumRandom2;document.getElementById('sum').innerHTML = roll2;}, 2000);
        setTimeout(function(){getDice3();digit.src = '/static/audio/digit.wav';stageSum = sumRandom1 + sumRandom2 + sumRandom3;document.getElementById('sum').innerHTML = stageSum;}, 3000);
         setTimeout(function(){
            stageSum = sumRandom1 + sumRandom2 + sumRandom3;
            sum = stageSum;
            if (sum == val1 ) {
               youWon.src = '/static/audio/youwon.wav';
               buttonFlag = 'n'
               keepScore = 10;
               if (keepScore >= 10) {document.getElementById('score').style.color = "#00cc00";}
               document.getElementById('score').innerHTML = keepScore;
               document.getElementById('gameStats').innerHTML = 'WOW! You nailed it! Instant Winner!';
            }
            else if (sum - val1 == 3 || val1 - sum == 3) {
               rightAnswer.src = '/static/audio/correct.wav';
              buttonFlag = 'n';
              keepScore = keepScore + 4;
              if (keepScore >= 10) {youWon.src = '/static/audio/youwon.wav';document.getElementById('score').style.color = "#00cc00";}
              document.getElementById('score').innerHTML = keepScore;
              document.getElementById('gameStats').innerHTML = 'Difference is 3, Awarded 4 pts!';
            }
            else if (sum - val1 == 2 || val1 - sum == 2) {
               rightAnswer.src = '/static/audio/correct.wav';
               buttonFlag = 'n';
               keepScore = keepScore + 6;
               if (keepScore >= 10) {youWon.src = '/static/audio/youwon.wav';document.getElementById('score').style.color = "#00cc00";}
               document.getElementById('score').innerHTML = keepScore;
               document.getElementById('gameStats').innerHTML = 'Difference is 2, Awarded 6 pts!';
            }
            else if (sum - val1 == 1 || val1 - sum == 1) {
               rightAnswer.src = '/static/audio/correct.wav';
               buttonFlag = 'n';
               keepScore = keepScore + 8;
               if (keepScore >= 10) {youWon.src = '/static/audio/youwon.wav';document.getElementById('score').style.color = "#00cc00";}
               document.getElementById('score').innerHTML = keepScore;
               document.getElementById('gameStats').innerHTML = 'Difference is 1, Awarded 8 pts!';
            }
            else if (buttonFlag = 'y') {
            wrongAnswer.src = '/static/audio/wrongAnswer.wav';
            document.getElementById('gameStats').style.color = "#ff0000";
            document.getElementById('gameStats').innerHTML = 'No Points'
            }
            setTimeout(function(){
               ++round;
                  if (round > 3 || keepScore >= 10) { if(keepScore >=10) {gameOver.src = '/static/audio/gameover.wav';setTimeout(function(){endGame();}, 2000)} else {sad.src = '/static/audio/end_of_game_melody_jazzy-chords.wav';setTimeout(function(){endGame();}, 2000)}}
               else {
                  if (round > 2) {document.getElementById('round').style.color = "#ff0000";document.getElementById('round').innerHTML = "Final Round";}
                  else {document.getElementById('round').innerHTML = round;}
                  document.getElementById('sum').innerHTML = 0;
                  document.getElementById('gameStats').innerHTML = ' ';
                  document.getElementById('gameStats').style.color = "#000000";
                  keepGoing()
               }
            }, 2000);
        }, 4000);
      }
   }
   function checkEntry2() {
      getGuess2();
      if (val2 < 3 || val2 > 18) {
         document.getElementById('button2').disabled = true;
         document.getElementById('gameStats2').style.color = "#ff0000";
         document.getElementById('gameStats2').innerHTML = "Entry must be between values 3 and 18.";
         document.getElementById("guess2").value = null;
         setTimeout(function(){
            document.getElementById('gameStats2').innerHTML = " ";
            document.getElementById('gameStats2').style.color = "black";
            document.getElementById('button2').disabled = false;
            document.getElementById('guess2').disabled = false;
            document.getElementById("guess2").focus();
         }, 2000);
      } else {
        buttonFlag2 = 'y'
        getGuess2();
        document.getElementById('guess2').disabled = true;
        document.getElementById('button2').disabled = true;
        setTimeout(function(){getDiceM();digit.src = '/static/audio/digit.wav';document.getElementById('sum2').innerHTML = sumRandom1M;}, 1000);
        setTimeout(function(){getDice2M();digit.src = '/static/audio/digit.wav';roll2 = sumRandom1M + sumRandom2M;document.getElementById('sum2').innerHTML = roll2;}, 2000);
        setTimeout(function(){getDice3M();digit.src = '/static/audio/digit.wav';stageSum2 = sumRandom1M + sumRandom2M + sumRandom3M;document.getElementById('sum2').innerHTML = stageSum2;}, 3000);
         setTimeout(function(){
            stageSum2 = sumRandom1M + sumRandom2M + sumRandom3M;
            sum2 = stageSum2;
            if (sum2 == val2 ) {
               youWon.src = '/static/audio/youwon.wav';
               buttonFlag2 = 'n'
               keepScore2 = 10;
               if (keepScore2 >= 10) {document.getElementById('score2').style.color = "#00cc00";}
               document.getElementById('score2').innerHTML = keepScore2;
               document.getElementById('gameStats2').innerHTML = 'WOW! You nailed it! Instant Winner!';
            }
            else if (sum2 - val2 == 3 || val2 - sum2 == 3) {
               rightAnswer.src = '/static/audio/correct.wav';
              buttonFlag2 = 'n';
              keepScore2 = keepScore2 + 4;
              if (keepScore2 >= 10) {youWon.src = '/static/audio/youwon.wav';document.getElementById('score2').style.color = "#00cc00";}
              document.getElementById('score2').innerHTML = keepScore2;
              document.getElementById('gameStats2').innerHTML = 'Difference is 3, Awarded 4 pts!';
            }
            else if (sum2 - val2 == 2 || val2 - sum2 == 2) {
               rightAnswer.src = '/static/audio/correct.wav';
               buttonFlag2 = 'n';
               keepScore2 = keepScore2 + 6;
               if (keepScore2 >= 10) {youWon.src = '/static/audio/youwon.wav';document.getElementById('score2').style.color = "#00cc00";}
               document.getElementById('score2').innerHTML = keepScore2;
               document.getElementById('gameStats2').innerHTML = 'Difference is 2, Awarded 6 pts!';
            }
            else if (sum2 - val2 == 1 || val2 - sum2 == 1) {
               rightAnswer.src = '/static/audio/correct.wav';
               buttonFlag = 'n';
               keepScore2 = keepScore2 + 8;
               if (keepScore2 >= 10) {youWon.src = '/static/audio/youwon.wav';document.getElementById('score2').style.color = "#00cc00";}
               document.getElementById('score2').innerHTML = keepScore2;
               document.getElementById('gameStats2').innerHTML = 'Difference is 1, Awarded 8 pts!';
            }
            else if (buttonFlag2 = 'y') {
            wrongAnswer.src = '/static/audio/wrongAnswer.wav';
            document.getElementById('gameStats2').style.color = "#ff0000";
            document.getElementById('gameStats2').innerHTML = 'No Points'
            }
            setTimeout(function(){
               ++round2;
                  if (round2 > 3 || keepScore2 >= 10) { if(keepScore2 >=10) {gameOver.src = '/static/audio/gameover.wav';setTimeout(function(){endGame();}, 2000)} else {sad.src = '/static/audio/end_of_game_melody_jazzy-chords.wav';setTimeout(function(){endGame();}, 2000)}}
               else {
                  if (round2 > 2) {document.getElementById('round2').style.color = "#ff0000";document.getElementById('round2').innerHTML = "Final Round";}
                  else {document.getElementById('round2').innerHTML = round2;}
                  document.getElementById('sum2').innerHTML = 0;
                  document.getElementById('gameStats2').innerHTML = ' ';
                  document.getElementById('gameStats2').style.color = "#000000";
                  keepGoing()
               }
            }, 2000);
        }, 4000);
      }
   }
   function keepGoing() {
      random1 = document.getElementById("rand1");random1.style.backgroundColor = "#ffffff";
      document.getElementById("rand1").innerHTML = null;random1 = document.getElementById("rand1");random1.appendChild(img);
      random1M = document.getElementById("rand1M");random1M.style.backgroundColor = "#ffffff";
      document.getElementById("rand1M").innerHTML = null;random1M = document.getElementById("rand1M");random1M.appendChild(imgM);
      random2 = document.getElementById("rand2");random2.style.backgroundColor = "#ffffff";
      document.getElementById("rand2").innerHTML = null;random2 = document.getElementById("rand2");random2.appendChild(img2);
      random2M = document.getElementById("rand2M");random2M.style.backgroundColor = "#ffffff";
      document.getElementById("rand2M").innerHTML = null;random2M = document.getElementById("rand2M");random2M.appendChild(img2M);
      random3 = document.getElementById("rand3");random3.style.backgroundColor = "#ffffff";
      document.getElementById("rand3").innerHTML = null;random3 = document.getElementById("rand3");random3.appendChild(img3);
      random3M = document.getElementById("rand3M");random3M.style.backgroundColor = "#ffffff";
      document.getElementById("rand3M").innerHTML = null;random3M = document.getElementById("rand3M");random3M.appendChild(img3M);
      document.getElementById('button').disabled = false;
      document.getElementById('guess1').disabled = false;
      document.getElementById("guess1").value = null;
      document.getElementById("guess1").focus();
      getGuess();
      document.getElementById('button2').disabled = false;
      document.getElementById('guess2').disabled = false;
      document.getElementById("guess2").value = null;
      document.getElementById("guess2").focus();
      getGuess2();

   }
   function getGuess() {
      document.getElementById("guess1").focus();
      val1 = Number(document.getElementById("guess1").value);
      if (val1 == '') {
         document.getElementById('guess1').focus();
         val1 = Number(document.getElementById("guess1").value);
      }
      return val1
   }
   function getGuess2() {
      document.getElementById("guess2").focus();
      val2 = Number(document.getElementById("guess2").value);
      if (val2 == '') {
         document.getElementById('guess2').focus();
         val2 = Number(document.getElementById("guess2").value);
      }
      return val2
   }
   /*function timer() {const timer = setInterval(timeKeep, 100);}
   function timeKeep() {
      if (val1 == '') {
         getGuess()
      if (buttonFlag == 'n' && val1 != '') {nextRoundButton()}
      }
      if (val2 == '') {
      if (buttonFlag == 'n' && val2 != '') {nextRoundButton()}
      }
   }*/

 function unlockAudio() {
   rightAnswer.src = '/static/audio/silence.wav';
   wrongAnswer.src = '/static/audio/silence.wav';
   sad.src = '/static/audio/silence.wav';
   youWon.src = '/static/audio/silence.wav';
   digit.src = '/static/audio/silence.wav';
   gameOver.src = '/static/audio/silence.wav';
  }
   window.addEventListener('load', function() {
      //let width = window.innerWidth;
      //if (width > 1023) {flag = 'y'} else {flag = 'n'};
      document.getElementById('button').disabled = false;
      document.getElementById('button2').disabled = false;
      let score = document.getElementById('score');
      let score2 = document.getElementById('score2');
      random1 = document.getElementById("rand1");random1.style.backgroundColor = "#ffffff";
      random1 = document.getElementById("rand1");random1.appendChild(img);
      random1M = document.getElementById("rand1M");random1M.style.backgroundColor = "#ffffff";
      random1M = document.getElementById("rand1M");random1M.appendChild(imgM);
      random2 = document.getElementById("rand2");random2.style.backgroundColor = "#ffffff";
      random2 = document.getElementById("rand2");random2.appendChild(img2);
      random2M = document.getElementById("rand2M");random2M.style.backgroundColor = "#ffffff";
      random2M = document.getElementById("rand2M");random2M.appendChild(img2M);
      random3 = document.getElementById("rand3");random3.style.backgroundColor = "#ffffff";
      random3 = document.getElementById("rand3");random3.appendChild(img3);
      random3M = document.getElementById("rand3M");random3M.style.backgroundColor = "#ffffff";
      random3M = document.getElementById("rand3M");random3M.appendChild(img3M);
      document.getElementById('gameStats').style.fontWeight = "bold";
      document.getElementById('gameStats2').style.fontWeight = "bold";

      document.addEventListener("keydown", function(e) {
         unlockAudio();

         if (e.keyCode === 13 && document.getElementById('guess1').disabled == false) {
           event.preventDefault();
           if (document.getElementById('guess1').value !== "") {
               document.getElementById('guess1').disabled = true;
               checkEntry();
           } else if (document.getElementById('button').disabled == false && document.getElementById('guess1').value !== "") {
               keepGoing()
               checkEntry();
           } else {checkEntry()}
         }
         if (e.keyCode === 13 && document.getElementById('guess2').disabled == false) {
            event.preventDefault();
            if (document.getElementById('guess2').value !== "") {
                document.getElementById('guess2').disabled = true;
                checkEntry2();
            } else if (document.getElementById('button2').disabled == false && document.getElementById('guess2').value !== "") {
                keepGoing()
                checkEntry2();
            } else {checkEntry2()}
          }

      });

      document.addEventListener("touchmove", function() {
         unlockAudio();
      });

      getGuess();
      getGuess2();
   });
</script>
<style>.square {width: 50px; height: 50px; text-align:center; margin-bottom: 0rem;} .squareR {width: 100px; height: 100px; display: block;} #stage {margin-bottom: 32px;}
        #answerStage {margin: auto; position: relative;}
        p.squareR {text-align: center; display: block; padding-top: 16px; font-size: 40px;}#hr {width: 320px;}
        #shape {background: rgba(232, 232, 232, .90);width: 30rem;position: relative;box-sizing: border-box;margin: auto;border-style: solid;border-width: thin;text-align: center;padding: 1rem;}
        #shape2 {background: rgba(232, 232, 232, .80);width: 90%;position: relative;box-sizing: border-box;border-style: solid;border-width: thin;text-align: center;padding: 1rem;height: auto; margin-top: 5rem;}
        body {background-repeat: no-repeat;background-attachment: fixed;background-position: center center;}
        #button {background-color: black;border-style: none solid solid none;color: white;display: block;font-family: Verdana, Geneva, sans-serif;padding: 1px 76px;text-decoration: none;text-indent: 0rem;text-shadow: none;
        text-align: center;box-sizing: border-box;border-radius: 0.5rem;cursor: pointer;position: relative;margin:auto;}
        #button2 {background-color: black;border-style: none solid solid none;color: white;display: block;font-family: Verdana, Geneva, sans-serif;padding: 1px 76px;text-decoration: none;text-indent: 0rem;text-shadow: none;
         text-align: center;box-sizing: border-box;border-radius: 0.5rem;cursor: pointer;position: relative;margin:auto;}
        #button:hover {background-color: gray;color: white;}
        #button2:hover {background-color: gray;color: white;}
        .button-link:active {background-color: blue;box-shadow: 0 5px #667;transform: translateY(4px);}
        #button[disabled]{background: grey;}
        #button2[disabled]{background: grey;}
        /*.btn[disabled]{background: grey;}
        .btn{background-color: black;border-style: none solid solid none;color: white;display: block;font-family: Verdana, Geneva, sans-serif;padding: 10px 45px;text-decoration: none;text-indent: 0rem;text-shadow: none;
         text-align: center;box-sizing: border-box;border-radius: 0.5rem;cursor: pointer;position: relative;margin: 0.25rem;}
        .btn:hover {background-color: gray;color: white;}
        .btn:active {background-color: blue;box-shadow: 0 5px #667;transform: translateY(4px);}*/
        h4 {margin: bottom 0;}
        hr {width: 15rem; margin-top: 0rem;}
        #gameStats {height: 1.5rem;} #gameStats2 {height: 1rem;}
</style>
 <!--<link rel="stylesheet" href="{% static 'css/mfa.css' %}">-->
 <body id="page-top" class=".backgroundimg" style="background-image: url('{% static 'Images/board.jpg' %}');">
    <main>
      <div id="shape" class="mt-5 d-none d-md-block">
              <div class="row justify-content-center mt-4"><h4 class=" mt-1 font-italic text-danger">Final</h4><h2 class="ml-2 font-weight: bold">Tally</h2></div>
              <div class="row justify-content-center mt-4"><h5>Roll 1</h5><h5 class="ml-5 mr-5">Roll 2</h5><h5>Roll 3</h5></div>
               <div class="row justify-content-center" id="stage">
                  <p class="squareR font-weight-bold" id="rand1"></p>&#160;
                  <p class="squareR font-weight-bold" id="rand2"></p>&#160;
                  <p class="squareR font-weight-bold" id="rand3"></p><br>
               </div>
               <div class="row justify-content-center">
                  <label>Score:</label><p class="mr-3 ml-2 font-weight-bold" id="score" >0</p>
                  <label>Round:</label><p class="ml-2 mr-3 font-weight-bold" id="round">1</p>
                  <label>Tally:</label><p class="ml-2 font-weight-bold" id="sum">0</p>
               </div>
               <div class="row justify-content-center" id="gameStats"></div>
               <hr id="hr">
               <div class="mb-2"><label>What will the dice roll total?</label></div>
               <!--<div class="row justify-content-center mb-3" id="answerStage">-->
                  <form>
                  <input class="square justify-content-center mb-4" id="guess1" type="text" placeholder="3-18" maxlength="2" oninput="this.value=this.value.replace(/[^0-9]/g,'');"/>&#160;<br>
                  <button type="button" class="button-link row justify-content-center" id="button" onclick="checkEntry()">Roll!</button>
                  </form>
               </div>
         </div>
     </main>
     <!--Mobile-->
     <div id="shape2" class="container d-sm-block d-md-none">
      <div class="row justify-content-center" id="title"><h4 class=" mt-1 font-italic text-danger">Final</h4><h2 class="ml-2 font-weight: bold">Tally</h2></div>
         <div class="row justify-content-center mb-5"><h5>Roll 1</h5><h5 class="ml-5 mr-5">Roll 2</h5><h5>Roll 3</h5></div>
         <div class="row justify-content-center" id="stage2">
          <p class="squareR font-weight-bold" id="rand1M"></p>&#160;
          <p class="squareR font-weight-bold" id="rand2M"></p>&#160;
          <p class="squareR font-weight-bold" id="rand3M"></p><br>
         </div>
         <div class="row justify-content-center">
            <label>Score:</label><p class="mr-3 ml-2 font-weight-bold" id="score2" >0</p>
            <label>Round:</label><p class="ml-2 mr-3 font-weight-bold" id="round2">1</p>
            <label>Tally:</label><p class="ml-2 font-weight-bold" id="sum2">0</p>
         </div>
         <div class="row justify-content-center mb-1" id="gameStats2"></div>
         <hr id="hr2">
         <!--<div class="row justify-content-center" id="answerStage2">-->
          <form>
            <div class="mt-2"><label>What will the dice total?</label></div>
            <input class="square justify-content-center mt-1 mb-4" id="guess2" type="text" placeholder="3-18" maxlength="2" oninput="this.value=this.value.replace(/[^0-9]/g,'');"/>&#160;<br>
            <button type="button" class="button-link row justify-content-center" id="button2" onclick="checkEntry2()">Roll!</button>
          </form>
       </div>
 </div>
 <!--<figure><div class="row justify-content-center"><audio loop controls id="audio">><source src='/static/audio/game-music.wav' type="audio/mpeg" /></audio></div></figure>-->
 </body>
</html>

{% endblock %}