{% extends "_base.html" %}
{% load static %}
{% block title %}Random Ace{% endblock %}
{% block main %}

<script>
   const gameOver = new Audio(); gameOver.autoplay = true; gameOver.volume = .2;
   function unlockAudio() {
      gameOver.src = '/static/audio/silence.wav';
   }
window.addEventListener('load', function() {
   addScore2 = sessionStorage.getItem("addScore2");

   if (isNaN(addScore2)) {
      gameOver.src = '/static/audio/end_of_game_melody_jazzy-chords.wav';
      score.innerText = 0;
   } else {
      gameOver.src = '/static/audio/end_of_game_melody_jazzy-chords.wav';
      let score2 = document.getElementById('score2');
      score2.innerText = (addScore2 *= -1);
   }
   });
</script>
<style>.square {width: 50px; height: 50px; text-align:center; margin-bottom: 32px;} .squareR {width: 100px; height: 100px; display: block;} #stage {margin-bottom: 32px;} #answerStage {margin: auto; position: relative;}
        p.squareR {text-align: center; display: block; padding-top: 16px; font-size: 40px;}#hr {width: 320px;}
        #shape {background: rgba(232, 232, 232, .95);width: 30rem;position: relative;box-sizing: border-box;margin: auto;border-style: solid;border-width: thin;text-align: center;padding: 1rem;}
        #shape2 {background: rgba(232, 232, 232, .95);width: 90%;position: relative;box-sizing: border-box;margin: auto;border-style: solid;border-width: thin;text-align: center;padding: 1rem;}
        #page-top {background-repeat: no-repeat;background-attachment: fixed; background-position: center center;}
        .button-link {background-color: black;border-style: none;color: white;display: block;font-family: Verdana, Geneva, sans-serif;padding: 1px 76px;text-decoration: none;text-indent: 0rem;text-shadow: none;
        text-align: center;box-sizing: border-box;border-radius: 0.5rem;cursor: pointer;position: relative;margin:auto;}
        .button-link:hover {background-color: gray;color: white;}.button-link:active {background-color: blue;box-shadow: 0 5px #667;transform: translateY(4px);}
        #button[disabled]{background: grey;} h4 {margin: bottom 0;} #score {float: none;color: black;text-align: center;font-size: 3rem; box-sizing: border-box; position: relative; margin: auto; font-weight: bold;}
        #score2 {float: none;color: black;text-align: center;font-size: 3rem; box-sizing: border-box; position: relative; margin: auto; font-weight: bold;}
        #dollar {float: none;color: black;text-align: center;font-size: 3rem; box-sizing: border-box; position: relative; margin: auto; font-weight: bold;}
        /*#main {margin-top: 10rem;}*/
</style>
 <!--<link rel="stylesheet" href="{% static 'css/mfa.css' %}">-->
 <body>
 <!--Mobile-->
 <main>
 <div id="shape2" class="d-sm-block d-md-none mt-2">
   <div class="row justify-content-center mt-2"><h4 class=" mt-1 font-italic text-danger">Random</h4><h2 class="ml-2 font-weight: bold">ACE&#9824;</h2></div>
   <div id="stage2">
      <h3 id="display2" class="mt-3 text-bold" style="font-weight: bold;">Not your lucky day.</h3>
      <div class="mt-3"><h5 style='display:inline'>You are</h5><p id="dollar" style='display:inline' class="text-danger ml-3">$</p><p id="score2" class="text-danger mr-2" style='display:inline'>0</p><h5 style='display:inline'>in the<p class="text-danger ml-1" style='display:inline'>red!</p></h5></div><br>


       <a class="button-link mb-1" href="{% url 'pages:random_ace' %}">Play Again</a>
       <a class="button-link mb-1" href="{% url 'pages:beta' %}">Beta</a>
       <a class="button-link mb-1" href="{% url 'pages:homepage' %}">Home</a>
    </div>
 </div>
</div>
 <!--<figure><div class="row justify-content-center"><audio loop controls id="audio">><source src='/static/audio/game-music.wav' type="audio/mpeg" /></audio></div></figure>-->
 </body>
</main>
</html>

{% endblock %}