{% extends "_base.html" %}
{% load static %}
{% block title %}who am I{% endblock %}
{% block main %}
{% block javascript %}
<script>
    function go() {
        location.assign("{% url 'pages:who_am_I' %}");
    }
window.addEventListener('load', function() {

    document.addEventListener("keydown", function(e) {

        if (e.keyCode === 13) {
          event.preventDefault();
          go();
        }

     });

   });
</script>
{% endblock %}
<style>
    #title2 {border-style: solid; border-width: thin; background: rgba(232, 232, 232, .93);text-align: center;width: 90%;height: 7rem;box-sizing: border-box;padding: 1rem;font-size: larger;margin: auto;position: relative;z-index: 10;}
    .button-link {background-color: black;border-style: none;color: white;display: block;font-family: Verdana, Geneva, sans-serif;padding: 1px 76px;text-decoration: none;text-indent: 0rem;text-shadow: none;
    text-align: center;box-sizing: border-box;border-radius: 0.5rem;cursor: pointer;position: relative;margin:auto;}
    .button-link:hover {background-color: gray;color: white;}.button-link:active {background-color: blue;box-shadow: 0 5px #667;transform: translateY(4px);}
    #button[disabled]{background: grey;} h4 {margin: bottom 0;} #score {float: none;color: black;text-align: center;font-size: 3rem; box-sizing: border-box; position: relative; margin: auto; font-weight: bold;}
    #score2 {float: none;color: black;text-align: center;font-size: 3rem; box-sizing: border-box; position: relative; margin: auto; font-weight: bold;}
    #scoreboard2 {background: rgba(232, 232, 232, .93);background-position: center;width: 90%;height: auto;position: relative;box-sizing: border-box;margin: auto;border-style: solid;border-width: thin;text-align: center;}
</style>
<body class=".backgroundimg" style="background-image: url('{% static 'Images/who_am_I/movies2.jpg' %}');">
    <main class="container">
        <div id="title2" class="container d-lg-none d-md-block mt-1"><p id="mobile"><h3 id="titlesection2" class="justify-content-center">Who am I?</h3></p></div>
        <div id="scoreboard2" class="container justify-content-center d-lg-none d-md-block mb-1 mt-1">
        <div class="row ml-1 text-left font-weight-normal mt-3" >
            1. Wanna know who I am?<br>
            2. You'll get 3 clues.<br>
            3. Pick right, get a point!<br>
            4. Pick wrong, get nothing.<br>
            5. To win score at least 80%.<br>
            6. Good luck!<br>
        </div>
        <button type="button" class="button-link row justify-content-center mt-4 mb-4" id="button2" onclick="go()">Go!</button>
        </div>
    </main>
</body>
</html>

{% endblock %}