body, html {
  margin: 0%;
  padding: 0%;
  overflow: auto!important;
  min-height: 100%;
}
#final {
background: rgba(232, 232, 232, .80);
background-position: center;
width: 40%;
height: 90%;
box-sizing: border-box;
margin-top: 8rem;
padding: 1rem;
border-style: solid;
}
#finalM {
  background: rgba(232, 232, 232, .80);
  background-position: center;
  width: 80%;
  height: 73%;
  position: relative;
  box-sizing: border-box;
  margin-top: 4rem;
  margin: auto;
  border-style: solid;
  text-align: center;
}

#score {
  float: none;
  color: black;
  text-align: center;
  font-size: 6rem;
  min-height: 20%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  font-weight: bold;
  }

  #scoreM {
    float: none;
    color: black;
    text-align: center;
    font-size: 6rem;
    min-height: 20%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    font-weight: bold;
    }
    #button {
      border-style: none solid solid none;
      background-color: gray;
      color: white;
      display: block;
      font-family: Verdana, Geneva, sans-serif;
      padding: 1px 6px;
      text-decoration: none;
      text-indent: 0rem;
      text-shadow: none;
      text-align: center;
      box-sizing: border-box;
      border-radius: 0.5rem;
      cursor: pointer;
      width: 80%;
      margin: auto;
      }
      #button:hover {
        background-color: black;
        color: white;
      }
      #button:active {
        background-color: blue;
        box-shadow: 0 5px #667;
        transform: translateY(4px);
      }
      #button-l {
        border-style: none solid solid none;
        background-color: gray;
        color: white;
        display: block;
        font-family: Verdana, Geneva, sans-serif;
        padding: 1px 6px;
        text-decoration: none;
        text-indent: 0rem;
        text-shadow: none;
        text-align: center;
        box-sizing: border-box;
        border-radius: 0.5rem;
        cursor: pointer;
        width: 80%;
        margin: auto;
        }
        #button-l:hover {
          background-color: black;
          color: white;
        }
        #button-l:active {
          background-color: blue;
          box-shadow: 0 5px #667;
          transform: translateY(4px);
        }