body, html {
    margin: 0%;
    padding: 0%;
    overflow: auto!important;
    min-height: 100%;
  }
#scoreboard {
  background: rgba(232, 232, 232, .80);
  background-position: center;
  width: 30rem;
  height: 90%;
  box-sizing: border-box;
  margin-top: 8rem;
  padding: 1rem;
  border-style: solid;
  }
  #scoreboard2 {
    background: rgba(232, 232, 232, .80);
    background-position: center;
    width: 80%;
    height: 95%;
    position: relative;
    box-sizing: border-box;
    margin-top: 1rem;
    margin: auto;
    border-style: solid;
    text-align: center;
  }