body, html {
  margin: 0%;
  padding: 0%;
  overflow: auto!important;
  max-height: 100% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  }
#scoreboard {
  background: rgba(232, 232, 232, .80);
  background-position: center;
  width: 30rem;
  height: auto;
  position: relative;
  box-sizing: border-box;
  margin-top: 8rem;
  margin: auto;
  border-style: solid;
  text-align: center;
  }
  #scoreboard2 {
    background: rgba(232, 232, 232, .80);
    background-position: center;
    width: 80%;
    height: auto;
    position: relative;
    box-sizing: border-box;
    margin-top: 1rem;
    margin: auto;
    border-style: solid;
    text-align: center;
  }
  audio controls {
    background: rgba(232, 232, 232, .80);
}
