body, html{
   margin: 0%;
   padding: 0%;
   overflow: auto;
 }
 #image {
  margin-top: -1rem !important;
}
 #backgroundImage {
   /*height: 702px;*/
   height: auto;
 }
 .backgroundimg {
   background-image: url("{% static 'images/children_playing.jpg' %}");
   /*background-size: cover;*/
   background-size: auto;
   background-position: center;
   background-repeat: no-repeat;
   /*max-width: 100%;*/
   width: auto;
   height: auto;
   line-height: 0%;
   vertical-align: bottom;
 }
 main {
  box-sizing:border-box;
  /*height: 818px;*/
  height: auto;
  position: relative;
}
 #container {
   height: auto;
 }
 nav {
   background: rgba(232, 232, 232, 0.8);
   width: 100%;
   height: 5%;
   z-index: 10;
 }
 nav a {
   color:rgba(0,0,0,.5);
   display: block;
   padding: .1rem;
   text-decoration: none;
   font-weight: 500;
 }
 nav a:hover {
   color: black;
   text-decoration: none;
 }
 nav ul {
   list-style: none;
   margin-right: 1rem;
   padding: 0;
   font-size: larger;
 }
 nav::after {
   content: "";
   display: block;
   clear: both;
 }
 li.contains ul {
   display: none;
 }
 li.contains:hover ul {
   background: rgba(232, 232, 232, .8);
   display: block;
   position: absolute;
   font-weight: bolder;
   z-index: 10;
 }
 li.contains li {
   float: none;
   font-size: 0.9rem;
 }
 li.contains li:hover {
   font-weight: bold;
   background-color: rgba(232, 232, 232, .8);
 }
 #thumbnail {
   display: block;

 }
 #quote {
   background: rgba(232, 232, 232, 0.65);
   background-position: center;
   text-align: center;
   width: 97.5%;
   height: 20%;
   position: relative;
   box-sizing: border-box;
   padding: 3rem;
   font-size: large;
   border-style: solid;
   border-width: thin;
   margin: 1rem 1rem 1rem 1rem;
 }
 #quoteSmall {
   background: rgba(232, 232, 232, 0.65);
   background-position: center;
   text-align: center;
   width: 100%;
   height: 8rem;
   position: relative;
   box-sizing: border-box;
   margin-top: 0%;
   margin-bottom: .5rem;
   font-size: large;
   padding: 1rem .5rem .5rem .5rem;
   border-style: solid;
   border-width: .05rem;
 }
 #smallScreen1 {
   background: rgba(232, 232, 232, 0.65);
   background-position: center;
   text-align:left;
   width: 100%;
   height: 10%;
   position: relative;
   box-sizing: border-box;
   font-size: small;
   clear: both;
 }
 #smallScreen2 {
   background: rgba(232, 232, 232, 0.65);
   background-position: center;
   text-align: left;
   width: 100%;
   height: 10%;
   position: relative;
   box-sizing: border-box;
   font-size: small;
   margin-top: 1rem;
   clear: both;
 }
 #background {
  height: 60rem;
  bottom: 0;
  background: rgba(232, 232, 232, 0.65);
  background-position: center;
  text-align: center;
  width: 97.5%;
  position: relative;
  box-sizing: border-box;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: large;
  border-style: solid;
  margin: 1rem 1rem 1rem 1rem;
}
#container1 {
  margin-top: 35rem;
}
 #backgroundM {
   height: 45%;
   bottom: 0;
   background: rgba(232, 232, 232, 0.65);
   background-position: center;
   text-align: center;
   width: 100%;
   position: relative;
   box-sizing: border-box;
   padding-top: .5rem;
   padding-bottom: .5rem;
   font-size: large;
   border-style: solid;
   margin-bottom: 0;
 }
 .button-link {
   background-color: black;
   border-style: none solid solid none;
   color: white;
   display: block;
   font-family: Verdana, Geneva, sans-serif;
   padding: 1px 6px;
   text-decoration: none;
   text-indent: 0rem;
   text-shadow: none;
   text-align: center;
   box-sizing: border-box;
   border-radius: 0.5rem;
   cursor: pointer;
   position: absolute;
 }
 .button-link2 {
   background-color: black;
   border-style: none solid solid none;
   color: white;
   display: block;
   font-family: Verdana, Geneva, sans-serif;
   padding: 1px 6px;
   text-decoration: none;
   text-indent: 0rem;
   text-shadow: none;
   text-align: center;
   box-sizing: border-box;
   border-radius: 0.5rem;
   cursor: pointer;
   position: absolute;
   margin-left: 12rem;
 }
 .button-link:hover {
   background-color: gray;
   color: white;
 }
 .button-link:active {
   background-color: blue;
   box-shadow: 0 5px #667;
   transform: translateY(4px);
 }
 footer {
   background: rgba(232, 232, 232, 0.8);
   box-sizing:border-box;
   display: block;
   position: relative;
   bottom: 0%;
   height: auto;
 }
 footer i {
   font-size: 2rem;
   color: rgba(0,0,0,.5);
   }
 footer i:hover {
   color: black;
 }
 footer i:active {
   color: black;
 }
 #shape {
   height: auto;
 }
