body, html {
    margin: 0%;
    padding: 0%;
    overflow: auto;
    height: auto;
  }
  .backgroundmg {
    background-image: url(../Images/blackboard.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height:100%;
  }
  #formMath {
    background: rgba(232, 232, 232, .80);
    background-position: center;
    width: 30rem;
    height: 60%;
    position: relative;
    box-sizing: border-box;
    margin-top: 8rem;
    margin: auto;
    border-style: solid;
    text-align: center;
    padding: 1rem;
  }
  #formMath2 {
    background: rgba(232, 232, 232, .80);
    background-position: center;
    width: 80%;
    height: 85%;
    position: relative;
    box-sizing: border-box;
    margin-top: 1rem;
    margin: auto;
    border-style: solid;
    text-align: center;
  }
  #formMath4 {
    height: 550px;
  }
  #math {
    float: none;
    color: black;
    text-align: center;
    font-size: xx-large;
  }
  #containMath {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }
  label {
    font-weight: bold;
  }
  #footer2 {
    background: rgba(232, 232, 232, 0.8);
    box-sizing:border-box;
    display: block;
    bottom: 0%;
    height: 100px;
  }
  #display {
    float: none;
    color: black;
    text-align: center;
    font-size: 3rem;
    min-height: 20%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    font-weight: bold;
    }
    #display2 {
      float: none;
      color: black;
      text-align: center;
      font-size: 3rem;
      min-height: 20%;
      width: 100%;
      box-sizing: border-box;
      position: relative;
      margin: auto;
      font-weight: bold;
      }
