{% extends "_base.html" %}
{% load static %}
{% block title %}US Capitals{% endblock %}
{% block javascript %}
<script>
    window.addEventListener('load', function() {
        document.getElementById('titlesection').innerHTML = "US Capitals";
     });

</script>
<style>
   body {background-repeat: no-repeat;background-attachment: fixed; background-position: bottom center;}
   #title {border-style: solid; border-width: thin; background: rgba(232, 232, 232, 0.90);text-align: center;width: auto;max-width: 60rem;height: 8rem;box-sizing: border-box;padding: 1rem;font-size: larger;z-index: 10;margin: auto;}
   #title2 {border-style: solid; border-width: thin; background: rgba(232, 232, 232, 0.90);text-align: center;width: 85%;height: 7rem;box-sizing: border-box;padding: 1rem;font-size: larger;z-index: 10;margin: auto;}
   #titleSmall {background: rgba(232, 232, 232, 0.90);text-align: center;width: 100%;height: 15%;font-size: small;margin: auto;z-index: 10;position: relative;}
   hr {width: 50%;}#button1 {margin: 0%;}
   #scoreboard {background: rgba(232, 232, 232, 0.90); height: 15rem; width: 32rem;box-sizing: border-box;background-position: center;margin: auto;padding: 1rem;border-style: solid;border-width: thin;}
   #scoreboard2 {background: rgba(232, 232, 232, 0.90); height: 19rem; width: 85%;box-sizing: border-box;background-position: center;margin: auto;padding: 1rem;border-style: solid;border-width: thin;}
    .button-link {background-color: black;border-style: none solid solid none;color: white;display: block;font-family: Verdana, Geneva, sans-serif;padding: 6px 20px;text-decoration: none;text-indent: 0rem;text-shadow: none;text-align: center;
        box-sizing: border-box;border-radius: 0.5rem;cursor: pointer;position: absolute;margin-left: 1rem;}
    #buttons:hover {background-color: gray; text-decoration: none;}
    #buttons:active {background-color: #0754c7;box-shadow: 0 5px #667;transform: translateY(4px);}
    #buttonsM:hover {background-color: gray}
    #buttonsM:active {background-color: #0754c7;box-shadow: 0 5px #667;transform: translateY(4px);}
    #uscaps {font-weight: bold;float: left;clear: left;margin-left: 1rem;}
    #uscaps2 {font-weight: bold;float: left;clear: left;margin-left: .25rem;}
</style>
{% endblock %}
{% block main %}
<body class=".backgroundimg" style="background-image: url('{% static 'Images/capital3.jpeg' %}');">
    <div id="title" class=" d-none d-lg-block mt-5">
       <p><h1 id="titlesection" class="justify-content-center font-weight-bold mt-4">US Capitals</h1></p>
    </div>
    <div id="scoreboard" class="container justify-content-center d-none d-lg-block mt-3">
        <div class="row container mt-3">
            <p id="uscaps">
            1. Press Go.<br>
            2. You'll be given a state and four capital city options.<br>
            3. Match the state with its capital city.<br>
            4. Scoring ninety percent or better, means you are ready to test!<br>
            </p>
        </div>
            <a class="button-link font-weight-bold mt-3" type="button" id="buttons" href="{% url 'uscapitals:uscapitals' %}">Go!</a>
  </div>
 <!--Mobile-->
    <div id="title2" class="container d-lg-none d-md-block mt-1">
       <p><h2 id="titlesection2" class="justify-content-center font-weight-bold mt-4">US Capitals</h2></p>
    </div>
    <div id="scoreboard2" class="container justify-content-center d-lg-none d-md-block mt-1">
        <div class="row container mt-3">
            <p id="uscaps2">
            1. Press Go.<br>
            2. You'll be given a state.<br>
            3. You'll be given four options.<br>
            4. Match the state with its capital.<br>
            5. Score ninety percent and win!<br>
            </p>
        </div>
            <a class="button-link font-weight-bold mt-3" type="button" id="buttons" href="{% url 'uscapitals:uscapitals' %}">Go!</a>
  </div>
 </body>
 </html>
 {% endblock %}