body, html {
  height: 100%;
  background-image: none;
  background-color: white;
  overflow:auto;
}
#quote{
  background: rgba(232, 232, 232, 0.863);
  padding: 2rem 3rem 3rem 3rem;
}
#containerUs {
  width: 100%;
  display: block;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  box-sizing: border-box;
}
#backgroundUs {
  background: rgba(232, 232, 232, 0.863);
  background-position: center;
  position: relative;
  text-align: center;
  width: 96%;
  position: relative;
  box-sizing: border-box;
  border-style: solid;
  margin-top: 20%;
  margin-left: 1rem;
  margin-right: 1rem;
}
