{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://kit.fontawesome.com/b02c9a6dba.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'Images/children_playing.jpg' %}" />
    {% block javascript %}{% endblock %}
    <title>{% block title %}{% endblock %} | Play2Learn Games</title>
    <link rel="icon" type="image/x-icon" href="{% static 'Images/logo.webp' %}"/>
    <link rel="mask-icon" href="{% static 'Images/logo.webp' %}" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div>
          <h4>
            <a href="{% url 'pages:homepage' %}" id="brand">Play2Learn Games&trade;</a>
          </h4>
        </div>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span><!--3 grip lines-->
          <!--<span><img src="/static/Images/grip-lines.png" />--> <!--2 grip lines-->
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <form action="https://www.google.com/search" method="GET" class="form mr-3 mt-2" target="_blank" rel="noopener noreferrer">
              <input type="text" placeholder="Google Search" name="q"class="search-field"/>
              <button type="submit" class="search-button">
                <img src="/static/Images/search.webp" />
              </button>
            </form>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Games</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'anagramhunt:anagramhunt' %}">Anagram Hunt</a>
                <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'mathfacts:mathfacts' %}">Fundamental Math</a>
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'pages:about_us' %}">About Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    {% block main %}
    <main class="d-none d-md-block" id="backgroundimage" style="background-image: url('{% static 'Images/children_playing.jpg' %}');">
      <div id="quote">
        <p id="quotesection">Quote Section</p>
      </div>
      <div id="background" class="container-fluid col-md-6 border-right d-none d-md-block d-xl-none">
        <div id="container1" class="row">
          <div class="container-fluid col-md-6 border-right border-dark d-none d-md-block d-xl-none">
            <h3>Anagram Hunt</h3>
            <p class="container-fluid d-none d-md-block d-xl-none">
              Choose a word length, you will be given a word that matches your chosen length.
              You'll have 60 seconds to find all the others words that can be formed from the letters of the given word.
              For your word to count, you must use all letters of the given word to form your new words.
              Also, you may not use the word already given. You are awarded 1 point for each solved anagram.
              If you score 16 points you win!
            </p>
            <a class="button-link mt-2" href="{% url 'anagramhunt:anagramhunt' %}">Play Now!</a>
          </div>
          <div id="container2" class="container-fluid col-md-6 border-start d-none d-md-block d-xl-none">
            <h3>Fundamental Math</h3>
            <p id="mf" class="container-fluid d-none d-md-block d-xl-none">
              Choose a mathmatical operation, you will be given a problem that matches your chosen operation.
              You'll have 30 seconds to solve as many problems as possible. Once you place your answer inside the portal
              the program will quickly check it. If your answer is correct you will be awarded 1 point and given a new problem.
              After the game, you will be given a score for the problems you solved, try to beat your own scores!
            </p>
            <a class="button-link mt-2" href="{% url 'mathfacts:mathfacts' %}">Play Now!</a>
          </div>
        </div>
      </div>
      <!--XL-->
      <div id="backgroundXL" class="container-fluid col-md-6 border-right d-none d-xl-block">
        <div id="container1" class="row">
          <div class="container-fluid col-md-6 border-right border-dark d-none d-lg-none d-xl-block">
            <h3>Anagram Hunt</h3>
            <p class="container-fluid d-none d-lg-block">
              Choose a word length, you will be given a word that matches your chosen length.
              You'll have 60 seconds to find all the others words that can be formed from the letters of the given word.
              For your word to count, you must use all letters of the given word to form your new words.
              Also, you may not use the word already given. You are awarded 1 point for each solved anagram.
              If you score 16 points you win!
            </p>
            <a class="button-link mt-2" href="{% url 'anagramhunt:anagramhunt' %}">Play Now!</a>
          </div>
          <div id="container2" class="container-fluid col-md-6 border-start d-none d-xl-block">
            <h3>Fundamental Math</h3>
            <p id="mf" class="container-fluid d-none d-lg-block">
              Choose a mathmatical operation, you will be given a problem that matches your chosen operation.
              You'll have 30 seconds to solve as many problems as possible. Once you place your answer inside the portal
              the program will quickly check it. If your answer is correct you will be awarded 1 point and given a new problem.
              After the game, you will be given a score for the problems you solved, try to beat your own scores!
            </p>
            <a class="button-link mt-2" href="{% url 'mathfacts:mathfacts' %}">Play Now!</a>
          </div>
        </div>
      </div>
    </main>
    <!--Mobile-->
    <div id="quoteSmall" class="d-sm-block d-md-none mt-1 mb-1">
      <p id="quotesectionSmall" class="quotesectionSmall">Quote Section</p>
    </div>
    <div id="mobileImage"><img src="{% static 'Images/children_playing.jpg' %}"class="img-thumbnail d-sm-block d-md-none"></div>
    <div id="backgroundM" class="container-fluid d-md-none">
      <div id="container1" class="row d-sm-block d-md-none">
        <div id="smallScreen1" class="container-fluid d-md-block d-lg-none">
          <h3>Anagram Hunt</h3>
          <div class="row ml-1">
            <p class="font-weight-bold">Play Now!</p>
            <a class="button-link2" href="{% url 'anagramhunt:anagramhunt' %}">Play</a>
          </div>
        </div>
        <div id="smallScreen2" class="container-fluid">
          <h3>Fundamental Math</h3>
          <div class="row ml-1">
            <p class="font-weight-bold">Play Now!</p>
            <a class="button-link2" href="{% url 'mathfacts:mathfacts' %}">Play</a>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
    <footer id="footer" class="fixed-bottom mt-2">
      <div class="row">
        <b class="ml-4">&copy;<script>document.write(/\d{4}/.exec(Date())[0]);</script>&nbsp;&nbsp;Robby Smith</b>
        <a class="ml-auto" href="{% url 'pages:contact-us' %}"><i class="fas fa-envelope"></i></a>
        <a class="mr-1 ml-1 d-none d-md-block" href="https://www.facebook.com/universityofga"  target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></a>
        <a class="mr-1 ml-1 d-xs-block d-md-none" href="https://m.facebook.com/universityofga"  target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></a>
        <a class="mr-1" href="https://instagram.com/universityofga" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
        <a class="mr-4" href="https://twitter.com/universityofga" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter-square"></i></a>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
  </body>
</html>
